.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url("/imgs/jeopardy.png");
	background-repeat: no-repeat;
	background-color: #BFB3A4;
	background-position: center;
}

body {
	background-color: #FDF5E6;
}