/* my custom styling */

/* NOTE: sticky navbar was more tricky than I thought. I referred to w3  */
/* for help: https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */



#navbar {
    overflow: hidden;
    /* position: absolute; */
    /* top: 10px; */
    /* left: 20px; */
    /* z-index: 1; */
    /* height: 30px; */
    /* width: 250px; */
    /* border: 1px dashed red; */
}

.nav-container .row {
    display: flex;
    justify-content: center;
}

.nav-container .col {
    margin: 5px;
}

header {
    padding-top: 20px;
    /* border: 1px dotted red; */
}


#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/* this puts modal in front of the body */
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: 250px;
	width: 425px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	padding: 2%;
	line-height: 120%;
	text-align: right;
}

.modal-buttons, .btns {
	padding: 10px 14px;
	background-color: #592A0E;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: "Arial";
	cursor: pointer;

}

.modal-buttons:hover, .btns:hover {
	padding: 10px 14px;
	background-color: white;
	border: 2px solid #592A0E;
	outline: none;
	border-radius: 3px;
	color: #592A0E;
	font-family: "Arial";
	cursor: pointer;

}

#header-container h1 {
	color: #592A0E;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
}


#main-container-top {
	background-image: url("../imgs/myTV.png");
	background-repeat: no-repeat;
	background-position: center;
	/* border: 1px dotted red; */
	/* min-height: 100px; */
	height: 400px;
	max-height: 600px;
	padding: 0;
	/* overflow: auto; */
}

#count {
	text-align: center;
	padding-top: 5px;
	margin-bottom: 2px;
	font-size: 1.1em;
}

#main-container-bottom {
	margin: 0 auto;
	text-align: center;
}

#money-score {
	display: flex;
	justify-content: center;
}

.answer {
	margin-top: 10px;
	padding: 5px;
}

.money {
	padding: 10px;
}

#answer-submit {
	background-color: #592A0E;
	color: white;
	pointer-events: auto;
	border-radius: 3px;
}

#display-container{
	/* border: 1px dashed black; */
	width: 500px;
	height: 350px;
	/* padding-left: 100px; */
	/* padding-bottom: 50px; */
	/* padding-right: -50px; */
	z-index: 1;
	align-items: center;
	margin: auto;
	overflow: auto;
	/* background-color: #BFB3A4; */
}

#question-header {
	margin-top: 55px;
	margin-left: 50px;
	margin-right: 100px;
	overflow: auto;
	font-size: 0.9em;
	font-weight: bold;
}

#value-header, #result-header {
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 100px;
	overflow: auto;
	font-size: 0.9em;
	font-weight: bold;
}


#question-insertion {
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 100px;
	overflow: auto;
	font-size: 0.9em;
}

/* #result-header {
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 100px;
	overflow: auto;
} */

#value-insertion {
	margin-top: 5px;
	margin-left: 50px;
	font-size: 1em;
}

#answer-insertion, #result-insertion {
	margin-top: 5px;
	margin-left: 50px;
	overflow: auto;
	font-size: 1em;
}

#setup-insertion {
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 100px;
	overflow: auto;
}
